.game{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    gap: 0.5em;
}
.hand-area{
    display: flex;
    align-items: center;
    gap: 0.2em;
}
.board-area{
    display: flex;
    align-items: center;
    gap: 0.2em;
}
.card{
    border: 4px solid black;
    width: 5em;
    height: 10em; /* was 7.5em but it didnt work with the hosting provider*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card-text{
    font-size: 2.8em;
    margin: 0;
}
.card-options{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-options input{
    width: 5em;
    height: 2em;
}
.action-area input{
    font-size: 2em;
    width: 8em;
}
.action-area{
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.played-card{
    border: 4px solid lime;
}
.highscore p{
    margin: 0;
    color: lime;
}
.bombs{
    margin: 0;
    color: red;
    margin: 0;
}
.idiots{
    margin: 0;
    color: purple;
    margin: 0;
}
.history{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 0.5em;
}
h3 {
    margin: 0.2em;
}
.play-button{
    border: 3px solid lime;
    
}
.trade-button{
    border: 3px solid blue;
}
.throw-button{
    border: 3px solid red;
}
.newcard-button{
    border: 5px solid lime;
}
.stand-button{
    border: 5px solid red;
}
.newgame-button{
    border: 5px solid blue;
}
.tutorial{
    border: 2px solid purple;
    margin: 1em;
    padding: 1em;
}